<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixora Design Studio</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Pixora Design Studio</h1>

    <p>Website deployed successfully on Flask + Render.</p>

    <img
    src="{{ url_for('static', filename='images/1.png') }}"
    width="300">
    

    <script
    src="{{ url_for('static', filename='js/script.js') }}">
    </script>

</body>

</html>
